---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="post">
<img class="center-img" src="img/noun-skull-and-bones-2562162.svg">
<h1 class="title">404.</h1>

</div>
