---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<img class="img-top-right" src="/img/noun-fishing-2750758.svg"/>

<div class="wrapper">
<h1 class="title">Here's everything</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
</div>