---
permalink: /tags/
layout: layouts/base.njk
---
<div class="wrapper">
<h1 class="title">Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</div>
