---
layout: layouts/base.njk
templateClass: tmpl-home
---

{{ content | safe }}
    <footer><img class="cactus" src="img/noun-camping-2750756.svg"/>
    
    {#<img class="cactus" src="img/noun-camping-2750757.svg"/>#}

    </footer>
