---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post">
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
<h1>{{ title }}</h1>
<div class="post-content">
{{ content | safe }}
</div>
{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<ul>
<time class="post-time" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</ul>
<hr>

{%- endif %}
{%- endif %}
<footer class="post-footer">
     <img src="/img/noun-bird-3309252.svg"/>

<h4>
  <a href="https://twitter.com/gehrigkunz">@GehrigKunz</a>
  </h4>

</footer>
</div>